# editorconfig.org
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# HTML, CSS, JS, TS — всегда LF и 2 пробела
[*.{js,jsx,ts,tsx,css,scss,html,json,yml,yaml}]
indent_style = space
indent_size = 2
end_of_line = lf

# Markdown — не удаляем лишние пробелы (важно для списков)
[*.md]
trim_trailing_whitespace = false

# Makefile — только табы
[Makefile]
indent_style = tab
