@use "@/scss/helpers" as *;

.scroller {
  padding-top: 10px;
  padding-bottom: 30px;
  overflow: hidden;
  width: 100%;
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);

  &__inner {
    --gapOnItems: #{fluid-mobile(16, 32)};
    --translateDistance: calc(var(--gapOnItems) / 2);
    --animationDuration: 35s;

    animation: scrollAnimation var(--animationDuration) infinite linear;
    display: flex;
    align-items: center;
    gap: var(--gapOnItems);
    width: max-content;

    &:hover {
      animation-play-state: paused;
    }
  }

  @keyframes scrollAnimation {
    to {
      transform: translateX(calc(-50% - var(--translateDistance)));
    }
  }
}