@use "@/scss/helpers" as *;

.reviews {
  padding-top: 51px;

  &__title {
    margin-bottom: 49px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;

    @include max-1024 {
      gap: 30px 20px;
    }
  }

  &__item {
    grid-column: span 3;

    @include max-1200 {
      grid-column: span 4;
    }

    @include max-1024 {
      grid-column: span 6;
    }

    @include max-768 {
      grid-column: span 12;
    }

    &--content {
      @include max-1200 {
        grid-column: span 12;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    background-image: url('@/assets/img/reviews-logo.svg');
    background-repeat: no-repeat;
    background-position: left bottom 50px;

    @include max-1200 {
      padding-top: 50px;
      align-items: center;
      background-position: center top;
    }
  }

  &__subtitle {
    margin-bottom: 9px;
    font-weight: 500;
    font-size: fluid(40, 52);
    letter-spacing: -0.05em;
    color: var(--col-green-2);
  }

  &__desc {
    font-weight: 400;
    font-size: 14px;
    color: var(--col-black-1);
  }

  &__link {
    position: relative;
    font-weight: 600;
    cursor: pointer;
    transition: color var(--anim-normal);

    &::before {
      display: block;
      content: '';
      width: 100%;
      height: 1px;
      background-color: currentColor;
      position: absolute;
      left: 0;
      bottom: -2px;
      transition: background-color var(--anim-normal);
    }

    @include hover {
      color: var(--col-accent-1);
    }

    &:active {
      color: var(--col-green-2);
    }
  }
}

.card-reviews {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 25px;
  padding-right: 25px;

  @include max-1200 {
    padding-top: 0;
  }

  @include max-768 {
    align-items: center;
    padding-right: 0;
  }

  &__rating {
    width: 128px;
    height: 24px;
    margin-bottom: 13px;
    background-image: url('@/assets/img/reviews-rating-five-stars.svg');
    background-repeat: no-repeat;
    background-position: left center;
  }

  &__title {
    margin: 0;
    margin-bottom: 7px;
    max-width: 240px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    color: var(--col-black-1);

    @include max-1200 {
      max-width: 100%;
    }

    @include max-768 {
      text-align: center;
    }
  }

  &__text {
    @include max-768 {
      text-align: center;
    }
  }

  &__author {
    padding-top: 19px;
    font-weight: 400;
    font-size: 14px;
    color: var(--col-black-1-07);
  }
}