*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  margin: 0;
  padding: 0;

  &[class] {
    text-decoration: none;
  }
}

img {
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  object-fit: cover;
}

.input-reset,
.select-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}