<section class="accounts">
  <div class="container accounts__container">
    <div class="accounts__content">
      <h2 class="section-title accounts__title" data-i18n="accounts.title">Типы счетов на платформе</h2>
      <p class="section-text accounts__text" data-i18n="accounts.desc">
        Открыть счет можно в течение 5&nbsp;минут, чтобы получить доступ к демо-режиму
      </p>
      <p class="accounts__secondary-text" data-i18n="accounts.secondary-text">
        Для каждого типа доступна опция открытия “Исламского счета”, соответствующая стандартам AAOIFI и всем требованиям Шариата.
      </p>
    </div>
    <ul class="list-reset accounts__list">
      <li class="accounts__item card-accounts">
        <span class="card-accounts__type">Standart</span>
        <span class="card-accounts__deposit" data-i18n="accounts.standart.price">от $10</span>
        <p class="card-accounts__desc" data-i18n="accounts.standart.desc">
          Счет подойдет начинающим пользователям и инвесторам среднего уровня.
        </p>
        <ul class="list-reset card-accounts__list">
          <li class="card-accounts__item">
            <span class="card-accounts__feature" data-i18n="accounts.standart.list.text-1">Все доступные рынки</span>
          </li>
          <li class="card-accounts__item">
            <span class="card-accounts__feature" data-i18n="accounts.standart.list.text-2">Онлайн поддержка 24/7</span>
          </li>
          <li class="card-accounts__item">
            <span class="card-accounts__feature" data-i18n="accounts.standart.list.text-3">Программа лояльности</span>
          </li>
          <li class="card-accounts__item">
            <span class="card-accounts__feature" data-i18n="accounts.standart.list.text-4">AI-помощник</span>
          </li>
        </ul>
        <a href="#!" class="btn btn--md card-accounts__btn">
          <span data-i18n="global.btn-cta">Открыть счет</span>
        </a>
      </li>
      <li class="accounts__item card-accounts">
        <span class="card-accounts__type card-accounts__type--pro">
          <svg width="14" height="14" viewBox="0 0 14 14" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M6.82528 0.130402C6.84823 0.0532477 6.91934 0 7 0C7.08066 0 7.15177 0.0532477 7.17472 0.130402C7.17472 0.130402 7.49451 1.20232 7.83726 2.35204C8.38342 4.18374 9.81626 5.61658 11.648 6.16274C12.7977 6.50549 13.8696 6.82528 13.8696 6.82528C13.9468 6.84823 14 6.91934 14 7C14 7.08066 13.9468 7.15177 13.8696 7.17472C13.8696 7.17472 12.7977 7.49451 11.648 7.83726C9.81626 8.38342 8.38342 9.81626 7.83726 11.648C7.49451 12.7977 7.17472 13.8696 7.17472 13.8696C7.15177 13.9468 7.08066 14 7 14C6.91934 14 6.84823 13.9468 6.82528 13.8696C6.82528 13.8696 6.50549 12.7977 6.16274 11.648C5.61658 9.81626 4.18373 8.38342 2.35203 7.83726C1.20232 7.49451 0.130402 7.17472 0.130402 7.17472C0.0532429 7.15177 0 7.08066 0 7C0 6.91934 0.0532429 6.84823 0.130402 6.82528C0.130402 6.82528 1.20232 6.50549 2.35203 6.16274C4.18373 5.61658 5.61658 4.18374 6.16274 2.35204C6.50549 1.20232 6.82528 0.130402 6.82528 0.130402Z" />
          </svg>
          Pro
        </span>
        <span class="card-accounts__deposit" data-i18n="accounts.pro.price">от $50,000</span>
        <p class="card-accounts__desc" data-i18n="accounts.pro.desc">
          Счет подойдет профессионалам, компаниям, и другим крупным игрокам.
        </p>
        <ul class="list-reset card-accounts__list">
          <li class="card-accounts__item">
            <span class="card-accounts__feature" data-i18n="accounts.pro.list.text-1">API и субсчета</span>
          </li>
          <li class="card-accounts__item">
            <span class="card-accounts__feature" data-i18n="accounts.pro.list.text-2">Индивидуальные решения</span>
          </li>
          <li class="card-accounts__item">
            <span class="card-accounts__feature" data-i18n="accounts.pro.list.text-3">Персональный менеджер</span>
          </li>
          <li class="card-accounts__item">
            <span class="card-accounts__feature" data-i18n="accounts.pro.list.text-4">Членство в закрытом клубе</span>
          </li>
        </ul>
        <a href="#!" class="btn btn--md btn--black card-accounts__btn">
          <span data-i18n="global.btn-cta">Открыть счет</span>
        </a>
      </li>
    </ul>
  </div>
</section>