<section class="advs">
  <div class="container">
    <h2 class="section-title section-title--center advs__title" data-i18n="advs.title">Успех клиента – наш приоритет</h2>
    <ul class="list-reset advs__list">
      <li class="advs__item item-advs">
        <h3 class="item-advs__title" data-i18n="advs.titles.title-1">Низкие комиссии и спреды</h3>
        <p class="section-text item-advs__text" data-i18n="advs.texts.text-1">Конкурентоспособные тарифы на&nbsp;торговые операции помогают увеличить прибыль трейдеров.</p>
      </li>
      <li class="advs__item item-advs item-advs--choice">
        <h3 class="item-advs__title" data-i18n="advs.titles.title-2">Широкий выбор активов</h3>
        <p class="section-text item-advs__text" data-i18n="advs.texts.text-2">Доступ к различным рынкам, включая акции, форекс, криптовалюты, товары и индексы.</p>
      </li>
      <li class="advs__item item-advs item-advs--modern">
        <h3 class="item-advs__title" data-i18n="advs.titles.title-3">Продвинутые торговые платформы</h3>
        <p class="section-text item-advs__text" data-i18n="advs.texts.text-3">Поддержка популярных платформ, таких как MetaTrader 5 с удобным интерфейсом и функционалом.</p>
      </li>
      <li class="advs__item item-advs item-advs--support">
        <h3 class="item-advs__title" data-i18n="advs.titles.title-4">Круглосуточная поддержка</h3>
        <p class="section-text item-advs__text" data-i18n="advs.texts.text-4">Быстрая и качественная помощь через различные каналы связи.</p>
      </li>
      <li class="advs__item item-advs item-advs--speed">
        <h3 class="item-advs__title" data-i18n="advs.titles.title-5">Высокая скорость исполнения ордеров</h3>
        <p class="section-text item-advs__text" data-i18n="advs.texts.text-5">Сделки исполняются за несколько миллисекунд независимо от объема.</p>
      </li>
      <li class="advs__item item-advs item-advs--terms">
        <h3 class="item-advs__title" data-i18n="advs.titles.title-6">Гибкие условия для разных типов трейдеров</h3>
        <p class="section-text item-advs__text" data-i18n="advs.texts.text-6">Поддержка как начинающих, так и профессиональных трейдеров с различными стратегиями.</p>
      </li>
    </ul>
  </div>
</section>