<footer class="footer">
  <div class="container">
    <div class="footer__container">
      <div class="footer__header">
        <h2 class="section-title footer__title" data-i18n="footer.title">Открытие счета&nbsp;за&nbsp;5&nbsp;минут</h2>
        <div class="footer__form-block">
          <p class="footer__form-desc" data-i18n="footer.form-desc">
            Начните инвестировать уже сегодня и получите приветственный комплимент от компании.
          </p>
          <form action="#" class="footer__form form-footer">
            <div class="form-footer__field">
              <input class="input-reset form-footer__input" id="footer-phone-input" name="footer-phone-input" type="tel" placeholder="" autocomplete="on">
              <label class="form-footer__label" for="footer-phone-input" data-i18n="global.phone-placeholder">+996</label>
            </div>
            <div class="form-footer__btn btn-footer" role="button" tabindex="0" aria-label="Отправить форму">
              <span data-i18n="global.btn-register">Register</span>
              <div class="btn-footer__bonus-block">
                <span class="btn-footer__bonus-text" data-i18n="global.bonus-amount">from $50</span>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="footer__warning">
        <span class="footer__warning-title" data-i18n="footer.warning-title">Capital at risk</span>
        <p class="footer__warning-desc" data-i18n="footer.warning-desc">
          Past performance is not a reliable indicator of future results. Currency rate fluctuations can adversely impact the overall returns on your original investment.
          Learn more by reading our full Risk Disclosure and our Trading FAQ
        </p>
      </div>
      <div class="footer__bottom">
        <nav class="footer__top-nav nav">
          <ul class="list-reset nav__list nav__list--top-footer">
            <li class="nav__item"><a href="#!" class="nav__link" data-i18n="footer.links.link-1">Главная</a></li>
            <li class="nav__item"><a href="#!" class="nav__link" data-i18n="footer.links.link-2">Финансы</a></li>
            <li class="nav__item"><a href="#!" class="nav__link" data-i18n="footer.links.link-3">Криптовалюты</a></li>
            <li class="nav__item"><a href="#!" class="nav__link" data-i18n="footer.links.link-4">Трейдинг</a></li>
            <li class="nav__item"><a href="#!" class="nav__link" data-i18n="footer.links.link-5">О компании</a></li>
          </ul>
        </nav>
        <div class="footer__bottom-line">
          <span class="footer__copyright">© 2021 Trillions</span>
          <nav class="nav">
            <ul class="list-reset nav__list nav__list--bottom-footer">
              <li class="nav__item"><a href="#!" class="nav__link nav__link--bottom-footer" data-i18n="footer.links.link-6">Правила использования</a></li>
              <li class="nav__item"><a href="#!" class="nav__link nav__link--bottom-footer" data-i18n="footer.links.link-7">Юридические соглашения</a></li>
              <li class="nav__item"><a href="#!" class="nav__link nav__link--bottom-footer" data-i18n="footer.links.link-8">Политика конфиденциальности</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</footer>