<section class="hero">
  <div class="container hero__container">
    <div class="hero__top">
      <div class="hero__content">
        <h1 class="section-title section-title--lg hero__title" data-i18n="hero.title">
          Инвестируй легко на мультирынчной платформе Trillions</h1>
        <p class="section-text hero__text" data-i18n="hero.desc"></p>
        <form action="#" class="hero__form form-hero">
          <div class="form-hero__field">
            <input class="input-reset form-hero__input" id="hero-phone-input" name="hero-phone-input" type="tel" placeholder="" autocomplete="tel" required data-js-input-phone>
            <label class="form-hero__label" for="hero-phone-input" data-i18n="global.phone-placeholder"></label>
          </div>
          <button class="btn-reset btn form-hero__btn" type="submit" data-i18n="global.btn-cta"></button>
        </form>
      </div>
      <div class="hero__img">
        <img src="src/assets/img/hero-img.avif" alt="Приложение Trillions для трейдинга" width="312" height="620" data-i18n-attr="hero.img">
      </div>
    </div>
    <ul class="list-reset hero__list list-hero">
      <li class="list-hero__item">
        <span class="list-hero__number" data-js-stat="10345">0</span>
        <span class="list-hero__number-desc" data-i18n="hero.list.first"></span>
        <span class="list-hero__period" data-i18n="hero.list.period"></span>
      </li>
      <li class="list-hero__item">
        <span class="list-hero__number" data-js-stat="56000.32" data-js-prefix="$">0</span>
        <span class="list-hero__number-desc" data-i18n="hero.list.second"></span>
        <span class="list-hero__period" data-i18n="hero.list.period"></span>
      </li>
      <li class="list-hero__item">
        <span class="list-hero__number" data-js-stat="99.9986" data-js-suffix="%">0</span>
        <span class="list-hero__number-desc" data-i18n="hero.list.third"></span>
        <span class="list-hero__period" data-i18n="hero.list.period"></span>
      </li>
    </ul>
  </div>
</section>