<section class="instruments">
  <div class="container">
    <h2 class="section-title section-title--center instruments__title" data-i18n="instruments.title">Мультирыночная платформа нового поколения</h2>
    <ul class="list-reset instruments__list">
      <li class="instruments__item">
        <article class="invest-card">
          <div class="invest-card__content">
            <h3 class="invest-card__title" data-i18n="instruments.titles.first">Криптоактивы</h3>
            <p class="section-text invest-card__text" data-i18n="instruments.desc.first">Инструмент, позволяющий получить прибыль посредством пассивного участия.</p>
            <a href="#!" class="invest-card__link" data-i18n="instruments.link">Подробнее</a>
          </div>
        </article>
      </li>
      <li class="instruments__item">
        <article class="invest-card invest-card--currency">
          <div class="invest-card__content">
            <h3 class="invest-card__title" data-i18n="instruments.titles.second">Национальные валюты</h3>
            <p class="section-text invest-card__text" data-i18n="instruments.desc.first">Инструмент, позволяющий получить прибыль посредством пассивного участия.</p>
            <a href="#!" class="invest-card__link" data-i18n="instruments.link">Подробнее</a>
          </div>
        </article>
      </li>
      <li class="instruments__item">
        <article class="invest-card invest-card--eurobonds">
          <div class="invest-card__content">
            <h3 class="invest-card__title" data-i18n="instruments.titles.third">Еврооблигации</h3>
            <p class="section-text invest-card__text" data-i18n="instruments.desc.first">Инструмент, позволяющий получить прибыль посредством пассивного участия.</p>
            <a href="#!" class="invest-card__link" data-i18n="instruments.link">Подробнее</a>
          </div>
        </article>
      </li>
      <li class="instruments__item">
        <article class="invest-card invest-card--etf">
          <div class="invest-card__content">
            <h3 class="invest-card__title" data-i18n="instruments.titles.fourth">ETF</h3>
            <p class="section-text invest-card__text" data-i18n="instruments.desc.first">Инструмент, позволяющий получить прибыль посредством пассивного участия.</p>
            <a href="#!" class="invest-card__link" data-i18n="instruments.link">Подробнее</a>
          </div>
        </article>
      </li>
      <li class="instruments__item">
        <article class="invest-card invest-card--global">
          <div class="invest-card__content">
            <h3 class="invest-card__title" data-i18n="instruments.titles.fifth">Мировые акции</h3>
            <p class="section-text invest-card__text" data-i18n="instruments.desc.first">Инструмент, позволяющий получить прибыль посредством пассивного участия.</p>
            <a href="#!" class="invest-card__link" data-i18n="instruments.link">Подробнее</a>
          </div>
        </article>
      </li>
      <li class="instruments__item">
        <article class="invest-card invest-card--metalls">
          <div class="invest-card__content">
            <h3 class="invest-card__title" data-i18n="instruments.titles.sixth">Металлы и сырье</h3>
            <p class="section-text invest-card__text" data-i18n="instruments.desc.first">Инструмент, позволяющий получить прибыль посредством пассивного участия.</p>
            <a href="#!" class="invest-card__link" data-i18n="instruments.link">Подробнее</a>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>