<section class="reviews">
  <div class="container">
    <h2 class="section-title section-title--center reviews__title" data-i18n="reviews.title">Работаем на результат не ради теплых слов, но...</h2>
    <ul class="list-reset reviews__list">
      <li class="reviews__item reviews__item--content">
        <div class="reviews__content">
          <span class="reviews__subtitle" data-i18n="reviews.subtitle">Great!</span>
          <span class="reviews__desc">
            <span data-i18n="reviews.based-on">Основано на</span>
            <a class="reviews__link" data-i18n="reviews.reviews-count">198 reviews</a>
          </span>
        </div>
      </li>
      <li class="reviews__item">
        <article class="card-reviews">
          <div class="card-reviews__rating" aria-label="Рейтинг: 5 звезд из 5" role="img" data-i18n-attr="reviews.card-1.attrs"></div>
          <h3 class="card-reviews__title" data-i18n="reviews.card-1.title">Быстрые обратная связь и решение!</h3>
          <p class="section-text section-text--xs card-reviews__text" data-i18n="reviews.card-1.desc">
            Быстрые обратная связь и решение! Идеально! Отличный сервис поддержки. Я с ними уже...
          </p>
          <span class="card-reviews__author" data-i18n="reviews.card-1.author">Василий Пупкин, 2 дня назад</span>
        </article>
      </li>
      <li class="reviews__item">
        <article class="card-reviews">
          <div class="card-reviews__rating" aria-label="Рейтинг: 5 звезд из 5" role="img" data-i18n-attr="reviews.card-1.attrs"></div>
          <h3 class="card-reviews__title" data-i18n="reviews.card-1.title">Быстрые обратная связь и решение!</h3>
          <p class="section-text section-text--xs card-reviews__text" data-i18n="reviews.card-1.desc">
            Быстрые обратная связь и решение! Идеально! Отличный сервис поддержки. Я с ними уже...
          </p>
          <span class="card-reviews__author" data-i18n="reviews.card-1.author">Василий Пупкин, 2 дня назад</span>
        </article>
      </li>
      <li class="reviews__item">
        <article class="card-reviews">
          <div class="card-reviews__rating" aria-label="Рейтинг: 5 звезд из 5" role="img" data-i18n-attr="reviews.card-1.attrs"></div>
          <h3 class="card-reviews__title" data-i18n="reviews.card-1.title">Быстрые обратная связь и решение!</h3>
          <p class="section-text section-text--xs card-reviews__text" data-i18n="reviews.card-1.desc">
            Быстрые обратная связь и решение! Идеально! Отличный сервис поддержки. Я с ними уже...
          </p>
          <span class="card-reviews__author" data-i18n="reviews.card-1.author">Василий Пупкин, 2 дня назад</span>
        </article>
      </li>
    </ul>
  </div>
</section>