<section class="traders">
  <h2 class="visually-hidden" data-i18n="traders.title">Платформа для трейдеров</h2>
  <div class="container">
    <div class="tabs traders__tabs" data-js-tabs>
      <div class="tabs__tablist" role="tablist" aria-label="Для трейдеров" data-i18n-attr="traders.tabs.label">
        <button class="btn-reset tabs__btn" role="tab" aria-selected="true" aria-controls="traders-panel-1" id="traders-tab-1" tabindex="-1" data-js-tabs-button
          data-i18n="traders.tabs.first-btn">Пассивным трейдерам</button>
        <button class="btn-reset tabs__btn is-active" role="tab" aria-selected="true" aria-controls="traders-panel-2" id="traders-tab-2" tabindex="0" data-js-tabs-button
          data-i18n="traders.tabs.second-btn">Активным трейдерам</button>
      </div>
    </div>
    <div class="traders__caption">
      <h3 class="section-title section-title--lg traders__title" data-i18n="traders.secondary-title">
        Мировые финансовые рынки на вашей ладони
      </h3>
      <div class="traders__links">
        <ul class="list-reset traders__list">
          <li class="traders__item">
            <a href="#!" class="traders__link traders__link--ios"></a>
          </li>
          <li class="traders__item">
            <a href="#!" class="traders__link traders__link--android"></a>
          </li>
        </ul>
        <p class="section-text section-text--xs" data-i18n="traders.desc">
          Торгуйте мировыми акциями, популярными криптовактивами, национальными валютами и ETF из единого приложения
        </p>
      </div>
    </div>
  </div>
  <div class="traders__content">
    <div class="tabs-content" id="traders-panel-1" role="tabpanel" tabindex="0" aria-labelledby="traders-tab-1" data-js-tabs-content>
      <ul class="list-reset content-traders">
        <li class="content-traders__item">
          <div class="container content-traders__wrapper">
            <div class="content-traders__img">
              <img src="src/assets/img/traders-img-1.avif" alt="Скриншот приложения для трейдинга" width="482" height="476" loading="lazy" data-i18n-attr="traders.content.img-1">
            </div>
            <div class="content-traders__content">
              <h4 class="section-title section-title--sm content-traders__title" data-i18n="traders.content.titles.first">Простой способ сформировать перспективный портфель, опережающий ожидания</h4>
              <p class="section-text content-traders__text" data-i18n="traders.content.text.first">
                Торгуйте акциями, криптовалютой, ETF и FX из одного приложения 24/7
              </p>
              <ul class="list-reset content-traders__sublist">
                <li class="content-traders__subitem">
                  <span class="content-traders__feature" data-i18n="traders.content.list.first.first">Еврооблигации с гарантированной доходностью до 8% годовых&nbsp;*</span>
                </li>
                <li class="content-traders__subitem">
                  <span class="content-traders__feature" data-i18n="traders.content.list.first.second">Структурные продукты с доходностью до 20% годовых&nbsp;**</span>
                </li>
                <li class="content-traders__subitem">
                  <span class="content-traders__feature" data-i18n="traders.content.list.first.third">Инвестиционный консультант</span>
                </li>
                <li class="content-traders__subitem">
                  <span class="content-traders__feature" data-i18n="traders.content.list.first.fourth">Финансовый AI помощник</span>
                </li>
                <li class="content-traders__subitem">
                  <span class="content-traders__feature content-traders__feature--soon">
                    <span data-i18n="traders.content.list.first.fifth">Копирование сделок - скоро</span>
                    <span class="content-traders__feature-label" data-i18n="global.soon-tag">Скоро</span>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="content-traders__item">
          <div class="container content-traders__wrapper">
            <div class="content-traders__img">
              <img src="src/assets/img/traders-img-2.avif" alt="Приложение Trillions" width="312" height="620" loading="lazy" data-i18n-attr="traders.content.img-2">
            </div>
            <div class="content-traders__content">
              <h4 class="section-title section-title--sm content-traders__title" data-i18n="traders.content.titles.second">Торгуйте с мобильного телефона или компьютера из&nbsp;любого места</h4>
              <p class="section-text content-traders__text" data-i18n="traders.content.text.second">
                Торгуйте с мобильного телефона или компьютера из любого места 24/7 без ограничений.
              </p>
              <ul class="list-reset content-traders__sublist">
                <li class="content-traders__subitem">
                  <span class="content-traders__feature" data-i18n="traders.content.list.second.first">Низкие комисии и спреды</span>
                </li>
                <li class="content-traders__subitem">
                  <span class="content-traders__feature" data-i18n="traders.content.list.second.second">Кредитные плечи от 1:1 до 1:1000</span>
                </li>
                <li class="content-traders__subitem">
                  <span class="content-traders__feature" data-i18n="traders.content.list.second.third">Межбанковское исполнение торговых операций 0.001 секунда</span>
                </li>
                <li class="content-traders__subitem">
                  <span class="content-traders__feature" data-i18n="traders.content.list.second.fourth">Более 10 000 торговых инструментов</span>
                </li>
                <li class="content-traders__subitem">
                  <span class="content-traders__feature" data-i18n="traders.content.list.second.fifth">Тестирование стратегий</span>
                </li>
                <li class="content-traders__subitem">
                  <span class="content-traders__feature" data-i18n="traders.content.list.second.sixth">Тестирование стратегий</span>
                </li>
                <li class="content-traders__subitem">
                  <span class="content-traders__feature" data-i18n="traders.content.list.second.seventh">Демо счет</span>
                </li>
                <li class="content-traders__subitem">
                  <span class="content-traders__feature" data-i18n="traders.content.list.second.eighth">Надежность и регулирование</span>
                </li>
              </ul>
              <div class="content-traders__btn complex-btn">
                <span class="complex-btn__text" data-i18n="global.get-bonus-text">Получить бонус</span>
                <div class="complex-btn__bonus-block">
                  <span class="complex-btn__bonus-text" data-i18n="global.bonus-amount">от $50</span>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="tabs-content is-active" id="traders-panel-2" role="tabpanel" tabindex="0" aria-labelledby="traders-tab-2" data-js-tabs-content>
      <ul class="list-reset content-traders">
        <li class="content-traders__item">
          <div class="container content-traders__wrapper">
            <div class="content-traders__img">
              <img src="src/assets/img/traders-img-1.avif" alt="Скриншот приложения для трейдинга" width="482" height="476" loading="lazy" data-i18n-attr="traders.content.img-1">
            </div>
            <div class="content-traders__content">
              <h4 class="section-title section-title--sm content-traders__title" data-i18n="traders.content.titles.first">Простой способ сформировать перспективный портфель, опережающий ожидания</h4>
              <p class="section-text content-traders__text" data-i18n="traders.content.text.first">
                Торгуйте акциями, криптовалютой, ETF и FX из одного приложения 24/7
              </p>
              <ul class="list-reset content-traders__sublist">
                <li class="content-traders__subitem">
                  <span class="content-traders__feature" data-i18n="traders.content.list.first.first">Еврооблигации с гарантированной доходностью до 8% годовых&nbsp;*</span>
                </li>
                <li class="content-traders__subitem">
                  <span class="content-traders__feature" data-i18n="traders.content.list.first.second">Структурные продукты с доходностью до 20% годовых&nbsp;**</span>
                </li>
                <li class="content-traders__subitem">
                  <span class="content-traders__feature" data-i18n="traders.content.list.first.third">Инвестиционный консультант</span>
                </li>
                <li class="content-traders__subitem">
                  <span class="content-traders__feature" data-i18n="traders.content.list.first.fourth">Финансовый AI помощник</span>
                </li>
                <li class="content-traders__subitem">
                  <span class="content-traders__feature content-traders__feature--soon">
                    <span data-i18n="traders.content.list.first.fifth">Копирование сделок - скоро</span>
                    <span class="content-traders__feature-label" data-i18n="global.soon-tag">Скоро</span>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="content-traders__item">
          <div class="container content-traders__wrapper">
            <div class="content-traders__img">
              <img src="src/assets/img/traders-img-2.avif" alt="Приложение Trillions" width="312" height="620" loading="lazy" data-i18n-attr="traders.content.img-2">
            </div>
            <div class="content-traders__content">
              <h4 class="section-title section-title--sm content-traders__title" data-i18n="traders.content.titles.second">Торгуйте с мобильного телефона или компьютера из&nbsp;любого места</h4>
              <p class="section-text content-traders__text" data-i18n="traders.content.text.second">
                Торгуйте с мобильного телефона или компьютера из любого места 24/7 без ограничений.
              </p>
              <ul class="list-reset content-traders__sublist">
                <li class="content-traders__subitem">
                  <span class="content-traders__feature" data-i18n="traders.content.list.second.first">Низкие комисии и спреды</span>
                </li>
                <li class="content-traders__subitem">
                  <span class="content-traders__feature" data-i18n="traders.content.list.second.second">Кредитные плечи от 1:1 до 1:1000</span>
                </li>
                <li class="content-traders__subitem">
                  <span class="content-traders__feature" data-i18n="traders.content.list.second.third">Межбанковское исполнение торговых операций 0.001 секунда</span>
                </li>
                <li class="content-traders__subitem">
                  <span class="content-traders__feature" data-i18n="traders.content.list.second.fourth">Более 10 000 торговых инструментов</span>
                </li>
                <li class="content-traders__subitem">
                  <span class="content-traders__feature" data-i18n="traders.content.list.second.fifth">Тестирование стратегий</span>
                </li>
                <li class="content-traders__subitem">
                  <span class="content-traders__feature" data-i18n="traders.content.list.second.sixth">Тестирование стратегий</span>
                </li>
                <li class="content-traders__subitem">
                  <span class="content-traders__feature" data-i18n="traders.content.list.second.seventh">Демо счет</span>
                </li>
                <li class="content-traders__subitem">
                  <span class="content-traders__feature" data-i18n="traders.content.list.second.eighth">Надежность и регулирование</span>
                </li>
              </ul>
              <div class="content-traders__btn complex-btn">
                <span class="complex-btn__text" data-i18n="global.get-bonus-text">Получить бонус</span>
                <div class="complex-btn__bonus-block">
                  <span class="complex-btn__bonus-text" data-i18n="global.bonus-amount">от $50</span>
                </div>
                <a href="#!" class="complex-btn__link"></a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>